body {
    background-clip: padding-box;
    background-image: url("../../Pictures/Caps_Ice.png");
    background-size: cover;
    scroll-padding-top: 10%;
}


#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}


.twitter-timeline {
    width: 500px;
    height: 500px;
}